<form method="post" action="/users">
    <input type="text" name="nickname" placeholder="Ваш ник">
    <input type="email" name="email" placeholder="Ваша почта">
    <input type="password" name="password" placeholder="Ваш пароль">

</form>