<#ftl encoding='UTF-8'>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>User: ${friend.getFirstName()}!</div>
<div>Email: ${friend.getEmail()}</div>
<div>LastName: ${friend.getLastName()}</div>
<div>Age: ${friend.getAge()}</div>
<div>
    <img src="http://localhost:8080/showFriendAvatar" width="300" height="500">
</div>

<div>
    <#list posts as post>
        <tr>
            <td>${friend.getFirstName()}</td>
            <td>${post.getText()}</td>
        </tr>
    </#list>
</div>
</body>
</html>