<#ftl encoding='UTF-8'>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<#list errors as error>

    <li>${error.getMessage()}</li>

</#list>

<div>Sign In</div>
<div>
    <form method="post" action="/signInn">
        <input name="firstName" type="text"
               placeholder="Enter name">
        <input name="lastName" type="text"
                placeholder="Enter lastname">
        <input name="age" type="number"
                placeholder="Enter age">
        <input name="email" type="email"
               placeholder="Enter email">
        <input name="password" type="password"
               placeholder="Enter password">

        <input type="submit" value="Log In">
    </form>
</div>
</body>
</html>