<#ftl encoding='UTF-8'>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script>
    $(function(){
//Живой поиск
        $('.who').bind("change keyup input click", function() {
            let data = {
                "email": this.value
            };
            if(this.value.length >= 2){
                $.ajax({
                    type: 'post',
                    url: "/findUser",
                    data: JSON.stringify(data),
                    response: "json",
                    success: function (response) {
                        renderTable(response, $('#table'))
                    },
                    dataType: "json",
                    contentType: "application/json"

                })
            }
        })
        function renderTable(users, table) {
            let innerHtml =  '<tr>\n' +
                '               <th>Users</th>' +
                '            </tr>';

            for (let i = 0; i < users.length; i++) {
                innerHtml += '<tr>';
                innerHtml += '  <td><a href="/showFriend/'+users[i]['id']+'">' + users[i]['email'] + '</a></td>';
                innerHtml += '</tr>';
            }
            table.html(innerHtml);
        }
    })
</script>
<body>

<div>Hi user ${user.getFirstName()} with ID: ${user.getId()}!</div>


<div>
<input type="text" name="gg" placeholder="Живой поиск" value="" class="who"  autocomplete="off">
<div>
    <table id="table">

    </table>
</div>
</div>



<div>
    <img src="http://localhost:8080/showUserAvatar" width="300" height="500">
</div>
<div>
<form method="post" action="/saveFile" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="Choose the file">
    <input type="submit" value="Change the photo">
</form>
</div>



<div>
    <form action="/sendNewPost" method="post">
        <div>
            <label for="text"></label><textarea name="text" id="text" type="text"> </textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>


<div>
    <#list posts as post>
        <tr>
            <td>${user.getFirstName()}</td>
            <td>${post.getText()}</td>
            <td><form method="post" action="/deletePost/${post.getPostId()}"><input type="submit" value="Delete"> </form></td>
        </tr>
    </#list>
</div>





</body>
</html>