body{
  font-family: 'Oswald', sans-serif;
  background-color: black;
  text-align: center;
}

.main {
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 30px;
}



.mn{
  margin: 15px auto;
  background-color: darkgray;
  padding: 7px;
  width: 300px;
  border-radius: 30px
}

.button{
  margin: 30px 0 ;
}

.btn{
  padding: 30px 60px;
  font-size: 30px;
}


