body{
  background-color: darkgray;
  font-family: 'Roboto', sans-serif;
}

.main {
  background-color:white;
  width: 1000px;
  height: 500px;
  margin: 30px  auto 100px auto;
  border-radius: 30px;
  padding: 30px;
}

img{
  display: block;
  height: 70px;
  width: 70px;
}

.links{
  display: flex;
}

.link{
  padding: 10px 10px;
  margin: 0 10px;
}